<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="ms-4">
                    <h2>Educlah</h2>
                    <div class="d-flex mt-5 link">
                        <a class="me-5" routerLink="/">Testo 1</a>
                        <a routerLink="/">Testo 2</a>
                    </div>
                    <div class="d-flex mt-3 link">
                        <a class="me-5" routerLink="/">Testo 3</a>
                        <a routerLink="/privacy">Privacy Policy</a>
                    </div>
                </div>
                <div class="ms-4 mt-5 newsletter">
                    <h2 class="mb-5">Newsletter our</h2>
                    <div class="d-flex">
                        <input type="text" placeholder="Email address">
                        <button class="btn btn-light ms-3">go</button>
                    </div>
                </div>
            </div>
            <div class="col-4 logo">
                <p>
                    Educlash - Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>
                <h1>Educlash</h1>
                <p>
                    Educlash - Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                </p>
            </div>
            <div class="col-4">
                <div class="ms-4">
                    <h2>Contacts</h2>
                    <div class="d-flex mt-5 contacts">
                        <p class="me-5">IT: +39 123456789</p>
                        <p>www.educlash.it</p>
                    </div>
                    <div class="d-flex mt-3 contacts">
                        <p class="me-5">educlash{{ '@' }}gmail.com</p>
                        <p>Italy, Rome</p>
                    </div>
                </div>
                <div class="ms-4 social d-flex mt-5">
                    <a routerLink="/" class="me-4"><i class="bi bi-facebook fs-4"></i></a>
                    <a routerLink="/" class="me-4"><i class="bi bi-instagram fs-4"></i></a>
                    <a routerLink="/" class="me-4"><i class="bi bi-twitter fs-4"></i></a>
                    <a routerLink="/"><i class="bi bi-linkedin fs-4"></i></a>
                </div>
                <div class="ms-4 mt-4">
                    <p>
                        Lorem ipsum dolor
                    </p>
                    <p>
                        &copy; 2023 Educlash
                    </p>
                </div>
            </div>
        </div>
        <!-- <p>&copy; 2023 Your Company</p>
        <p class="fs-5">
            <a href="/privacy">Privacy Policy</a>
        </p>
        <div class="d-flex link">
            <a routerLink="/"><i class="bi bi-facebook fs-4"></i></a>
            <a routerLink="/"><i class="bi bi-instagram fs-4"></i></a>
            <a routerLink="/"><i class="bi bi-twitter fs-4"></i></a>
            <a routerLink="/"><i class="bi bi-linkedin fs-4"></i></a>
        </div> -->
    </div>
</footer>
