<footer class="footer">
    <div class="container d-flex justify-content-center">
        <div class="col-4 d-">
            <h2>Educlah</h2>
            <div class="d-flex">
                <input type="text" placeholder="Email address">
                <button>ciao</button>
            </div>
        </div>
        <div class="col-4">
            ciao
        </div>
        <div class="col-4">
            ciao
        </div>
        <!-- <p>&copy; 2023 Your Company</p>
        <p class="fs-5">
            <a href="/privacy">Privacy Policy</a>
        </p>
        <div class="d-flex link">
            <a routerLink="/"><i class="bi bi-facebook fs-4"></i></a>
            <a routerLink="/"><i class="bi bi-instagram fs-4"></i></a>
            <a routerLink="/"><i class="bi bi-twitter fs-4"></i></a>
            <a routerLink="/"><i class="bi bi-linkedin fs-4"></i></a>
        </div> -->
    </div>
</footer>
