<div class="appbar">
    <button class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#exampleModalBar">+ Add Ticket</button>
   <button mat-button class="btn btn-primary mx-2" (click)="toggleDark()">
        <i [ngClass]="switchDark ? 'bi bi-brightness-high-fill' : 'bi bi-moon-fill'"></i>
      </button>
    <button class="btn btn-primary mx-2" routerLink="/home/settings"><i class="bi bi-gear"></i></button>
    <button class="btn btn-primary mx-2 position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNotification" aria-controls="offcanvasRight">
        <i class="bi bi-bell"></i>
        <span *ngIf="unreadNotifications > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{unreadNotifications}}
        </span>
    </button>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNotification" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Notifications</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div *ngFor="let n of messages">
            <div class="card m-2 d-flex flex-row justify-content-center align-items-center" (click)="openNotification(n)"
                    data-bs-toggle="modal" data-bs-target="#message">
                <i *ngIf="n.status == 'unread'" class="bi bi-envelope mx-2"></i>
                <i *ngIf="n.status == 'read'" class="bi bi-envelope-open mx-2"></i>

                <div class="card-body">
                    <div>
                        <h5 class="card-title">{{n.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{n.date}}</h6>
                    </div>
                    {{n.body}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="message" tabindex="-1" aria-labelledby="messageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header flex-column align-items-baseline">
                <div class="d-flex justify-content-between w-100">
                    <h1 class="modal-title fs-4" id="exampleModalLabel">{{currentShown.title}}</h1>
                    <span class="modal-title fs-4 fw-semibold">Id: {{currentShown.id?.toString()?.padStart(3, '0')}}</span>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">{{currentShown.date}}</h6>
            </div>
            <div class="modal-body">

                <p class="card-text fs-5 fw-semibold">{{currentShown.description}}</p>
                <p class="fs fs-6">{{currentShown.body}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="unread(currentShown)">Mantain as unread</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalBar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Ticket</h1>
                <button type="button" class="btn-close" (click)="svuotaCampi()" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">
                <label for="title" class="form-label">Title</label>
                <input id="title" class="form-control" type="text" placeholder="" aria-label="default input example" [(ngModel)]="title">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" class="form-control" type="text" placeholder="" aria-label="default input example" [(ngModel)]="text"></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="svuotaCampi()">Close</button>
                <button type="button" class="btn btn-primary" (click)="addTicket()">Submit Ticket</button>
            </div>
        </div>
    </div>
</div>
