<div class="d-flex p-5 flex-column justify-content-center align-items-center">
  <div class="d-flex justify-content-end">
    <div class="m-3">
      <label for="search" class="form-label">Search</label>
      <input id="search" class="form-control" type="text" placeholder="" aria-label="default input example" [(ngModel)]="searchText">
    </div>
  </div>
  <table class="table m-4">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let t of tableData | search: searchText" (click)="openDetailPage(t)">
      <th scope="row">#{{ t.id }}</th>
      <td>{{ t.customerName }}</td>
      <td>{{ t.customerEmail }}</td>
      <td>{{ t.title }}</td>
      <td>{{ t.description }}</td>
      <td *ngIf="t.status === 'open'" style="color: rebeccapurple"><i class="bi bi-circle"></i></td>
      <td *ngIf="t.status === 'closed'" style="color: rebeccapurple"><i class="bi bi-circle-fill"></i></td>
      <td *ngIf="t.status === 'processing'" style="color: rebeccapurple"><i class="bi bi-circle-half"></i></td>
    </tr>
    </tbody>
  </table>
</div>
