<div class="container">
    <h1 class="text-center">Gestione Utenti</h1>
    <div class="mt-4 d-flex justify-content-end">
        <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addUser">Aggiungi
            utente</button>
    </div>
    <div class="my-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Tickets</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{u.displayName}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.admin === false ? "user" : "admin"}}</td>
                    <td>{{u.tickets.length}}</td>
                    <td>
                        <button class="btn btn-primary me-2 disabled"><i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-primary" (click)="selectUidToDelete(u.userUID)" type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="bi bi-trash3"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- ADD NEW USER MODAL -->
    <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addUserModal">Aggiungi Utente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form (ngSubmit)="addUser()" #loginForm="ngForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="displayName">Name:</label>
                            <input type="text" class="form-control" id="displayName" name="displayName"
                                [(ngModel)]="displayName" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                [(ngModel)]="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" [disabled]="!loginForm.valid" class="login-button" data-bs-dismiss="modal">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- EDIT USER MODAL -->
    <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addUserModal">Aggiungi Utente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form (ngSubmit)="addUser()" #loginForm="ngForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="displayName">Name:</label>
                            <input type="text" class="form-control" id="displayName" name="displayName"
                                [(ngModel)]="displayName" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password"
                                [(ngModel)]="password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" [disabled]="!loginForm.valid" class="login-button">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- DELETE USER MODAL -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="deleteModalLabel">Delete User</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete the user ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary"(click)="deleteUser()" data-bs-dismiss="modal">Delete</button>
            </div>
          </div>
        </div>
      </div>

</div>
