<div class="d-flex m-5">
    <div class="ticket-details">
        <h2>Ticket Detail</h2>

        <div class="detail-item">
            <h3 class="fw-semibold">Title:</h3>
            <p>{{ ticket.title }}</p>
        </div>

        <div class="detail-item">
            <h3 class="fw-semibold">Description:</h3>
            <p>{{ ticket.description }}</p>
        </div>

        <div class="detail-item">
            <h3 class="fw-semibold">Status:</h3>
            <p *ngIf="ticket.status === 'open'" style="color: rebeccapurple"><i class="bi bi-circle"></i> Ticket opened
            </p>
            <p *ngIf="ticket.status === 'closed'" style="color: rebeccapurple"><i class="bi bi-circle-fill"></i> Ticket
                closed</p>
            <p *ngIf="ticket.status === 'processing'" style="color: rebeccapurple"><i class="bi bi-circle-half"></i>
                Ticket in process</p>
        </div>

        <div class="detail-item" *ngIf="this.isAdmin">
            <h3 class="fw-semibold">Customer Name:</h3>
            <p>{{ ticket.name }}</p>
        </div>

        <div class="detail-item" *ngIf="this.isAdmin">
            <h3 class="fw-semibold">Customer Email:</h3>
            <p>{{ ticket.email }}</p>
        </div>
    </div>
    <div *ngIf="ticket.messages" class="ticket-details d-flex flex-column justify-content-between">
        <h2>Chat</h2>
        <div style="overflow-y: scroll; height: 55vh">
            <div class="card m-2" *ngFor="let m of ticket.messages">
                <div class="card-header">
                    <p *ngIf="m.user === 'user'" style="text-align: start; font-weight: bold">{{m.customerName}}</p>
                    <p *ngIf="m.user === 'admin'" style="text-align: end; font-weight: bold">Admin</p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                    </div>
                </div>
            </div>
        </div>

        <form style="text-align: end">
            <div class="mb-3">
                <input style="text-align: end" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary"><i class="bi bi-send"></i> Send</button>
        </form>
    </div>
</div>