<div class="container text-center vh-100">
  <h1>Pannello amministrativo</h1>
  <div class="mt-5">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gestione Utenti</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a routerLink="user-management" class="btn btn-primary">Gestisci</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gestione Challenges</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a  routerLink="challenge-management" class="btn btn-primary">Gestisci</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
