<div class="d-flex flex-wrap justify-content-center">
  <div class="m-2 col-md-4 text-center">
    <div id="carouselExampleIndicators" class="carousel slide d-flex flex-column justify-content-between align-content-center">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <canvas #myRadarChart></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center m-2 col-xl-6 col-lg-7 col-md-12 col-sm-8">
    <div class="card m-2 text-center ">
      <div class="card-header">
        🚀 Challenge of the week 🚀
      </div>
      <div class="card-body">
        <h5 class="card-title">Challenge title</h5>
        <p class="card-text">Description of the challenge.</p>
        <a href="#" class="btn btn-primary">Start! 🚀</a>
      </div>
      <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar" style="width: 75%; background-color: #7b1fa2;"></div>
      </div>
    </div>
  </div>
</div>
